/* Reformat this css */
@import 'reset.css';

*{
    box-sizing: border-box;
}
/* FORMAT THE HEADERS */
header{
    font-family: monospace;
    /* display: inline-block; */
    /* vertical-align: middle; */
    font-size: 50px;
    /* background-image: url(../house-images/churchill-house-2.jpg); */
    background-color: rgb(104, 104, 104);
    position: sticky;
    top: 0;
    max-height: 80px;
    width: 100%;
    color: white;

}

header .wrapper,
herointro .wrapper{
    width: 1200px;
    margin: 0 auto 50px auto;
}
/* opinion: is this better matching header=main wrapper width, or making main smaller */
main.wrapper{
    width: 1200px;
    margin: 0 auto 150px auto;
}

h1{
    padding: 15px;
    text-align: center;
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    background-color: #979797;
    color: white;
    font-size: 32px;
    text-align: left;
    font-family: monospace;
    padding: 15px;
    border-radius: 15px;
}
h3{
    background-color: #cccccc;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: left;
    font-family: monospace;
    padding: 15px;
    max-width: 900px;
    border-radius: 15px;
}

section{
    /* PADDING TOP HERE MATCH HEADER HEIGHT FOR NAV LINKS */
    padding-top: 80px;
}

.backtotop{
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* FORMAT THE PAGE NAVIGATION */
/* nav{
    background-color: #c9c9c9;
    display: inline-block;
} */

#burgernav {
    width: 80%;
    background: rgb(85, 85, 85);
    /* position: sticky; */
    top: 0;
    float: right;
    height: 80px;
    border-radius: 0 15px 15px 0;
}
/* Hiding Burger? */
#burgernav label, #burger { display: none; }
/* Menu Formatting */
#menuitems { 
    display: flex; 
    justify-content: flex-end;
    margin-right: 40px;
    flex-wrap: wrap;
}
#menuitems a {
    width: 12%;
    padding: 20px;
    color: black;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
    }
#menuitems a:hover {
    background: #adadad;
}

/* Make Responsive for Small Screens */
@media screen and (max-device-width: 760px), (max-width: 760px) {
    #burgernav label {
        display: inline-block;
        color: white;
        background: #927170;
        font-size: 16px;
        padding: 10px;
    }
    /* SPLIT MENU ITEMS VERTICALLY */
    #menuitems a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 1px solid #333;
        }
    /* toggle show/hide menu */
    #menuitems { display: none; }
    #burgernav input:checked ~ #menuitems {display: block; }
}

/* FORMAT THE PARAGRAPHS */
p{
    font-family: 'Gill Sans', sans-serif;
    background: white;
    font-size: 16px;
    max-width: 900px;
    text-align: left;
    line-height: 30px;
    padding: 10px;
    border-left: 1px solid #000;
    margin: 20px 0px 10px 0px;
}

/* FORMAT THE ICON */
.iconholder {
    width: 20%;
    background: rgb(85, 85, 85);
    float: left;
    height: 80px;
    border-radius: 15px 0 0 15px;
}
.icon {
    max-height: 80%;
    /* margin-left: 25%; */
    margin-top: 5px;
    /* position: absolute;
    left: 50px; */
}


.standardpic{
    max-width: 100%;
    padding: 15px 15px 15px 0;
}
/* FORMAT THE PAGE GRID */


.gridhero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 900px;
    justify-content: center;
    vertical-align: baseline;
    /* align-content: center;
    gap: 4px;
    grid-auto-flow: column; */

}
.imageparent {
    position: relative;
    top: 0;
    left: 0;
    z-index: -50;
}

.imagechild1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #000000;
}

.imagechild2 {
    position: absolute;
    top: 0px;
    left: 0px; 
    /* max-height: 300px; */
    width: max-content;
    height: 100%;

}

.description-hero-image img{
    max-width: 100%;
}

.gridhero img{
    max-width: 100%;
 
    /* grid-column: 1/3; */
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid img{
    max-width: 100%;
    /* grid-column: 1/3; */
}


/* FORMAT FLEX GALLERY */
.flex-gallery{
    display: flex;
    flex-wrap: wrap;
}
/* select li in flex-gallery, limit width to 30% */
.flex-gallery > li{
    width: 30%;
    flex-grow: 1;
    padding: 5px 5px 5px 5px;
}
/* set images to limit size to flex gallery */
.flex-gallery img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}


/* APPPLY HOVER EFFECT ON IMAGES */
.hover-border{
    box-sizing: border-box;
}
.hover-border:hover{
    border:10px solid #000;
}


/* MEDIA QUIRIES */

@media screen and (max-device-width: 1200px) {
    .grid{
        grid-template-columns: 1fr 1fr;
    }
    .flex-gallery > li{
        width: 40%;
    }
    .gridhero{
        display: initial;
    }
    .gridhero img{
        width:80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .gridhero p{
        text-align: center;
        margin: auto;
        border: none;
        max-width: 50%;
    }
    img.imagechild2{
        display: none;
    }
}

@media screen and (max-device-width: 600px) {
    .grid{
        display: initial;
/*        grid-template-columns: 1fr;*/
    }
    .flex-gallery > li{
        width: 40%;
    }
}